.dashboard {
  padding-top: 30px;
}

.table {
  width: 95%;
  margin: auto;
}

.row {
  width: 100%;
}

.col:first-child {
  border-right: 1px solid lightgray;
}

.table-head {
  border: 1px solid black;
  font-weight: bold;
}

.table-body {
}

.table-head div {
  border-right: 1px solid black;
}

.table-head,
.table-row {
  display: flex;
}

.table-head div,
.table-row div {
  width: 34%;
  padding: 3px 10px;
}

.table-row {
  color: black;
  border: 1px solid gray;
  text-align: left;
}

.table-row div {
  border-right: 1px solid darkgray;
}

.table-row:hover {
  text-decoration: none;
  background: rgb(220, 244, 252);
  cursor: pointer;
}

.home-images {
  margin-top: 20px;
  border-top: 1px solid lightgray;
}

.images-thumbnails {
  background: #4b8e8d;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.418);
  display: flex;
  padding: 20px;
  width: 100%;
  overflow-y: scroll;
}

.images-thumbnails img {
  height: 150px;
  width: auto;
}

.thumbnail {
  margin-right: 20px;
  position: relative;
  transition: 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.507);
}

.thumbnail:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

.img-delete-btn {
  position: absolute;
  right: 0;
  background: rgba(167, 23, 23, 0.705);
  color: white;
  border: none;
  padding: 0px 7px;
}

.img-delete-btn:hover {
  background: rgba(167, 23, 23, 0.959);
}
