.events {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}
.events h1 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  padding: 0;
}

.event-card {
  border: 1px solid black;
  width: 60%;
  margin: auto;
  text-align: left;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: rgb(192, 255, 250);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.event-card h3 {
  border-bottom: 1px solid black;
  padding-bottom: 4px;
  margin-bottom: 0;
  text-align: center;
}

.event-card p {
  margin: 0;
}

.event-card .footer {
  display: flex;
}

.event-register {
  background: none;
  border: 1px solid black;
  margin-left: auto;
}

@media only screen and (max-width: 600px) {
  .event-card {
    width: 90vw;
  }
}
