.col {
  background: transparent;
}
.fa {
  color: black;
}

.homepage-content {
  position: relative;
  height: 100vh;
}

.main-container {
  padding: 0 15px;
  border-right: 1px solid lightgray;
}

.latest-event {
  border-top: 1px solid lightgray;
}

.latest-event .event-card {
  margin: 10px;
}

.latest-event h5 {
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
}

/* .side-container {
  height: 100vh;
  position: fixed;
  top: 50px;
  right: 0;
} */

@media only screen and (max-width: 800px) {
  .side-container {
    position: relative;
  }
  .row {
    margin: auto;
  }
}
