.nav-auth {
  display: none;
}

.navbar {
  background: white;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.452);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 5px 20px;
}

.nav-link {
  color: darkslategray;
  padding: 0;
  font-weight: 500;
}

.nav-item {
  border-right: 1px solid lightgray;
}
.nav-item:last-child {
  border: none;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand a {
  color: darkslategray;
}

.navbar-brand a:hover {
  color: rgb(55, 128, 128);
  text-decoration: none;
}

.nav-logo {
  width: 43px;
  height: 40px;
  margin: 0;
}

.navbar-toggler {
  font-weight: bold;
  font-size: 1.7em;
}

button.login,
button.register {
  background: none;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

button.login {
  background: darkslategray;
  color: white;
}

button.register {
  border: 1px solid darkslategray;
  color: darkslategray;
}

.dropdown-menu {
}
