.nav-auth {
  display: none;
}

.navbar {
  background: aqua;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.452);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 0.5rem 2rem;
}

.nav-link {
  letter-spacing: 0.5px;
  color: darkslategray;
  padding: 0;
  font-weight: 500;
}

.nav-item {
  border-right: 1px solid lightgray;
}
.nav-item:last-child {
  border: none;
}

.navbar-brand {
  padding: 0;
  font-size: 2.2rem;
}

.navbar-role {
  color: darkgoldenrod;
  margin-right: 40px;
  margin-top: 5px;
}

.navbar-brand a {
  color: darkslategray;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-brand a:hover {
  color: rgb(55, 128, 128);
  text-decoration: none;
}

.login-btn,
.register-btn,
.dropdown-toggle {
  letter-spacing: 1px;
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 800px) {
  .nav-link {
    margin-top: 0.4rem;
    letter-spacing: 1px;
  }

  .login-btn,
  .register-btn {
    margin-top: 0.4rem;
  }
}

.login-btn {
  background: darkslategray;
  color: white;
}

.register-btn {
  border: 1px solid darkslategray;
  color: darkslategray;
}

.dropdown-toggle {
  font-size: 1.6rem;
  background: darkslategray;
  color: white;
}

.dropdown-menu {
  font-size: 1.6rem;
}
